!!! html
%head
  %title IRIS
  = stylesheet_link_tag 'application'
  = javascript_include_tag :defaults
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
  = javascript_include_tag 'highcharts'
  /[if IE]
    = javascript_include_tag 'excanvas.compiled'
  = csrf_meta_tag
%body
  #container
    #header
      =link_to 'IRIS', '/'
      = Settings.site_title
    #nav
      %ul
        %li=link_to 'Home', '/'
        %li=link_to 'Help', '/welcome/help'
        - if current_user
          %li=link_to 'Uploads', '/uploads'
          - if can? :manage, Upload
            %li=link_to 'Flagged Uploads', '/uploads/flagged'
          - if can? :manage, User
            %li=link_to 'User Management', '/admin/users/'
          - if can? :upload, Upload
            %li=link_to 'New Upload', '/uploads/new'
          %li="Logged in as #{current_user.name}"
          %li=link_to 'My Account', '/users/edit'
          %li=link_to 'Log out', '/users/sign_out'
        - else
          %li=link_to 'Log in', '/users/sign_in'
          %li=link_to 'Register', '/users/sign_up'
    - if flash[:notice]
      #notice=flash[:notice]
    - if flash[:alert] or flash[:error]
      #error=flash[:alert] or flash[:error]
    #content=yield
    #footer
      = Settings.footer_text
      &#149; Powered by
      = link_to 'IRIS', 'https://github.com/JamesHarrison/iris'
