!!! html
%head
  %title IRIS
  = stylesheet_link_tag 'application'
  = javascript_include_tag :defaults
  = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
  = javascript_include_tag 'highcharts'
  /[if IE]
    = javascript_include_tag 'excanvas.compiled'
  = csrf_meta_tag
%body
  #container
    #header
      =image_tag 'iris.png'
      =link_to 'IRIS', '/'
      Insanity Radio's Ingest System
    #nav
      %ul
        %li=link_to 'Home', '/'
        - if current_user
          %li=link_to 'Uploads', '/uploads'
          - if can? :manage, Upload
            %li=link_to 'Flagged Uploads', '/uploads/flagged'
          - if can? :upload, Upload
            %li=link_to 'New Upload', '/uploads/new'
          %li="Logged in as #{current_user.name}"
          %li=link_to 'Log out', '/users/sign_out'
        - else
          %li=link_to 'Log in', '/users/sign_in'
          %li=link_to 'Register', '/users/sign_up'
    - if flash[:notice]
      #notice=flash[:notice]
    - if flash[:alert]
      #error=flash[:alert]
    #content=yield
    #footer Insanity Radio Ingest System (IRIS) DEVELOPMENT BUILD 1.0 - James Harrison - Insanity Radio
